<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
    </head>
    <body>
        <div class="POS-menu">
            <div class="div">
                <img class="food-content" src="img/food-content.png" />
                <div class="right-side">
                    <img class="separator" src="img/separator-2.svg" />
                    <div class="product-selected">
                        <div class="total">
                            <div class="text-wrapper">TOTAL</div>
                            <div class="group">
                                <div class="btn-cancel"><div class="text-wrapper-2">CANCEL ORDER</div></div>
                                <div class="send-order-wrapper"><div class="text-wrapper-2">SEND&nbsp;&nbsp;ORDER</div></div>
                            </div>
                            <div class="text-wrapper-3">$0,00</div>
                        </div>
                        <div class="SPECIFICATIONS">
                            <img class="line" src="img/image.svg" />
                            <div class="sub-total">
                                <div class="subtotal">SUBTOTAL</div>
                                <div class="text-wrapper-4">$0,00</div>
                            </div>
                            <div class="sub-total-2">
                                <div class="service-charge">SERVICE CHARGE</div>
                                <div class="text-wrapper-5">10%</div>
                                <div class="text-wrapper-4">$0,00</div>
                            </div>
                        </div>
                    </div>
                    <div class="top-order">
                        <div class="guess-table">
                            <div class="table">
                                <div class="group-wrapper">
                                    <div class="group-2">
                                        <div class="table-2">TABLE:</div>
                                        <img class="small-table-icon" src="img/small-table-icon.svg" />
                                    </div>
                                </div>
                                <div class="text-wrapper-6">1</div>
                            </div>
                            <div class="guess">
                                <img class="icons" src="img/icons.svg" />
                                <div class="guess-2">GUESS:</div>
                                <div class="text-wrapper-7">2</div>
                            </div>
                        </div>
                        <div class="order">ORDER #</div>
                        <div class="text-wrapper-8">12564878</div>
                        <img class="img" src="img/line-1-2.svg" />
                    </div>
                </div>
                <footer class="footer">
                    <div class="footer-text">
                        <div class="btn-select-and"><div class="starter">STARTER</div></div>
                        <div class="main-course-wrapper"><div class="text-wrapper-9">MAIN COURSE</div></div>
                        <div class="drinks-wrapper"><div class="text-wrapper-9">DRINKS</div></div>
                        <div class="desserts-wrapper"><div class="text-wrapper-9">DESSERTS</div></div>
                        <img class="line-2" src="img/line-1.svg" />
                    </div>
                </footer>
                <div class="top-section">
                    <img class="separator-2" src="img/separator.svg" />
                    <div class="top">
                        <div class="lsft-side">
                            <p class="POS">
                                <span class="span">P</span>
                                <span class="text-wrapper-10">O</span>
                                <span class="text-wrapper-11">S</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
