<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="/FRONTEND1/assets/css/style_menu.css"/>
    </head>
    <body>
        <div class="POS-menu">
            <div class="div">
                <div class="food-content">
                    <div class="second-row">
                        <div class="food-card">
                            <div class="overlap">
                                <img class="img" src="/img/img-11.jpg" />
                                <div class="footer-food">
                                    <div class="overlap-group">
                                        <div class="group">
                                            <div class="name-food">
                                                <div class="chicken-wings">CHICKEN WINGS</div>
                                                <div class="category">
                                                    <div class="text-wrapper">CATEGORY:</div>
                                                    <div class="frame">
                                                        <div class="overlap-group-wrapper">
                                                            <div class="g-wrapper"><div class="text-wrapper-2">G</div></div>
                                                        </div>
                                                        <img class="img-2" src="img/group-5-7.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="overlap-wrapper">
                            <div class="overlap">
                                <img class="img" src="img/img.svg" />
                                <div class="footer-food">
                                    <div class="overlap-group">
                                        <div class="group">
                                            <div class="name-food">
                                                <div class="chicken-wings">CHICKEN WINGS</div>
                                                <div class="category">
                                                    <div class="text-wrapper">CATEGORY:</div>
                                                    <div class="frame">
                                                        <div class="overlap-group-wrapper">
                                                            <div class="g-wrapper"><div class="text-wrapper-2">G</div></div>
                                                        </div>
                                                        <img class="img-2" src="img/group-5-5.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-2">
                            <div class="overlap">
                                <img class="img" src="img/img-2.svg" />
                                <div class="footer-food">
                                    <div class="overlap-group">
                                        <div class="group">
                                            <div class="name-food">
                                                <div class="chicken-wings">CHICKEN WINGS</div>
                                                <div class="category">
                                                    <div class="text-wrapper">CATEGORY:</div>
                                                    <div class="frame">
                                                        <img class="img-3" src="img/glutten.svg" /> <img class="img-2" src="img/chilli-2.svg" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-wrapper">
                            <div class="overlap">
                                <img class="img" src="img/img-7.svg" />
                                <div class="footer-food">
                                    <div class="overlap-group">
                                        <div class="group">
                                            <div class="name-food">
                                                <div class="chicken-wings">CHICKEN WINGS</div>
                                                <div class="category">
                                                    <div class="text-wrapper">CATEGORY:</div>
                                                    <div class="frame">
                                                        <div class="overlap-group-wrapper">
                                                            <div class="g-wrapper"><div class="text-wrapper-2">G</div></div>
                                                        </div>
                                                        <img class="img-2" src="img/group-5-6.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="first-row">
                        <div class="food-card">
                            <div class="overlap">
                                <img class="img" src="img/img-5.svg" />
                                <div class="footer-food">
                                    <div class="overlap-group">
                                        <div class="group">
                                            <div class="name-food">
                                                <div class="chicken-wings">CHICKEN WINGS</div>
                                                <div class="category">
                                                    <div class="text-wrapper">CATEGORY:</div>
                                                    <div class="frame">
                                                        <img class="img-3" src="img/nuts.svg" /> <img class="img-2" src="img/group-5-3.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="overlap-wrapper">
                            <div class="overlap">
                                <img class="img" src="img/img-9.svg" />
                                <div class="footer-food">
                                    <div class="overlap-group">
                                        <div class="group">
                                            <div class="name-food">
                                                <div class="chicken-wings-2">FRENCH FRIES</div>
                                                <div class="category">
                                                    <div class="text-wrapper">CATEGORY:</div>
                                                    <div class="frame-2">
                                                        <div class="group-2">
                                                            <div class="g-wrapper"><div class="text-wrapper-2">G</div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-2">
                            <div class="group-3">
                                <div class="v-wrapper"><div class="text-wrapper-2">V</div></div>
                            </div>
                            <div class="food-card">
                                <div class="overlap">
                                    <img class="img" src="img/img-6.svg" />
                                    <div class="footer-food">
                                        <div class="overlap-group">
                                            <div class="group">
                                                <div class="name-food">
                                                    <div class="chicken-wings-3">SUMMER SALAD</div>
                                                    <div class="category">
                                                        <div class="text-wrapper">CATEGORY:</div>
                                                        <div class="frame-3">
                                                            <img class="img-3" src="img/nuts-2.svg" /> <img class="group-4" src="img/group-5-9.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-wrapper">
                            <div class="overlap">
                                <img class="img" src="img/img-8.svg" />
                                <div class="footer-food">
                                    <div class="overlap-group">
                                        <div class="group">
                                            <div class="name-food">
                                                <div class="chicken-wings-3">SUMMER SALAD</div>
                                                <div class="category">
                                                    <div class="text-wrapper">CATEGORY:</div>
                                                    <div class="frame-3">
                                                        <img class="img-3" src="img/free.svg" /> <img class="group-4" src="img/group-5.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="third-row">
                        <div class="food-card-2">
                            <div class="overlap">
                                <img class="img" src="img/img-10.svg" />
                                <div class="footer-food">
                                    <div class="overlap-group">
                                        <div class="group">
                                            <div class="name-food">
                                                <div class="chicken-wings">CHICKEN WINGS</div>
                                                <div class="category">
                                                    <div class="text-wrapper">CATEGORY:</div>
                                                    <div class="frame">
                                                        <div class="overlap-group-wrapper">
                                                            <div class="g-wrapper"><div class="text-wrapper-2">G</div></div>
                                                        </div>
                                                        <img class="img-2" src="img/group-5-2.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="food-card-3">
                            <div class="overlap">
                                <img class="img" src="img/image.svg" />
                                <div class="footer-food">
                                    <div class="overlap-group">
                                        <div class="group">
                                            <div class="name-food">
                                                <div class="chicken-wings">CHICKEN WINGS</div>
                                                <div class="category">
                                                    <div class="text-wrapper">CATEGORY:</div>
                                                    <div class="frame">
                                                        <div class="overlap-group-wrapper">
                                                            <div class="g-wrapper"><div class="text-wrapper-2">G</div></div>
                                                        </div>
                                                        <img class="img-2" src="img/image.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="food-card-4">
                            <div class="overlap">
                                <img class="img" src="img/img-3.svg" />
                                <div class="footer-food">
                                    <div class="overlap-group">
                                        <div class="group">
                                            <div class="name-food">
                                                <div class="chicken-wings">CHICKEN WINGS</div>
                                                <div class="category">
                                                    <div class="text-wrapper">CATEGORY:</div>
                                                    <div class="frame">
                                                        <div class="overlap-group-wrapper">
                                                            <div class="g-wrapper"><div class="text-wrapper-2">G</div></div>
                                                        </div>
                                                        <img class="img-2" src="img/group-5-8.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="food-card-5">
                            <div class="overlap">
                                <img class="img" src="img/img-4.svg" />
                                <div class="footer-food">
                                    <div class="overlap-group">
                                        <div class="group">
                                            <div class="name-food">
                                                <div class="chicken-wings">CHICKEN WINGS</div>
                                                <div class="category">
                                                    <div class="text-wrapper">CATEGORY:</div>
                                                    <div class="frame">
                                                        <div class="overlap-group-wrapper">
                                                            <div class="g-wrapper"><div class="text-wrapper-2">G</div></div>
                                                        </div>
                                                        <img class="img-2" src="img/group-5-4.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                </div>
                <footer class="footer">
                    <div class="footer-text">
                        <div class="btn-select-and"><div class="starter">ADD</div></div>
                        <div class="main-course-wrapper"><div class="text-wrapper-3">CHANGE</div></div>
                        <div class="drinks-wrapper"><div class="text-wrapper-3">DRINKS</div></div>
                        <div class="desserts-wrapper"><div class="text-wrapper-3">DESSERTS</div></div>
                        <img class="line" src="img/line-1.svg" />
                    </div>
                </footer>

                <div class="top-section">
                    <img class="separator" src="img/separator.svg" />
                    <div class="top">
                        <div class="lsft-side">
                            <p class="POS">
                                <span class="span">P</span>
                                <span class="text-wrapper-4">O</span>
                                <span class="text-wrapper-5">S</span>
                            </p>
                            <div class="search-field">
                                <div class="group-5">
                                    <p class="p">Search product or any order...</p>
                                    <img class="search" src="img/search.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-left">
                    <img class="separator-2" src="img/separator-2.svg" />
                    <div class="menu-icons">
                        <div class="name-menu">HOME</div>
                        <div class="icons"></div>
                    </div>
                    <div class="menu-icons-2">
                        <div class="name-menu-2">MENU</div>
                        <img class="icons-2" src="img/icons.svg" />
                    </div>
                    <div class="menu-icons-3">
                        <div class="name-menu-3">PAYMENT</div>
                        <img class="icons-2" src="img/icons-4.svg" />
                    </div>
                    <div class="menu-icons-4">
                        <div class="name-menu-4">ORDERS</div>
                        <img class="icons-2" src="img/icons-3.svg" />
                    </div>
                    <div class="menu-icons-5">
                        <div class="name-menu-5">SETTINGS</div>
                        <img class="icons-2" src="img/icons-2.svg" />
                    </div>
                    <div class="v">V.1.0</div>
                </div>
            </div>
        </div>
    </body>
</html>
