<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="/FRONTEND1/assets/css/style_menu_mesas.css" />
        <link rel="stylesheet" href="/FRONTEND1/assets/css/styleguide_menu_mesas.css" />
    </head>
    <body>
        <div class="POS-menu">
            <div class="div">
                
                <div class="frame">
                    <div class="overlap"><div class="text-wrapper">7</div></div>
                    <div class="ellipse"></div>
                    <div class="ellipse-2"></div>
                    <div class="ellipse-3"></div>
                    <div class="ellipse-4"></div>
                    <div class="overlap-group"><div class="text-wrapper">11</div></div>
                    <div class="ellipse-5"></div>
                    <div class="ellipse-6"></div>
                    <div class="ellipse-7"></div>
                    <div class="ellipse-8"></div>
                    <div class="div-wrapper"><div class="text-wrapper">11</div></div>
                    <div class="ellipse-9"></div>
                    <div class="ellipse-10"></div>
                    <div class="ellipse-11"></div>
                    <div class="ellipse-12"></div>
                    <div class="overlap-2"><div class="text-wrapper">10</div></div>
                    <div class="ellipse-13"></div>
                    <div class="ellipse-14"></div>
                    <div class="ellipse-15"></div>
                    <div class="ellipse-16"></div>
                    <div class="overlap-3"><div class="text-wrapper">9</div></div>
                    <div class="ellipse-17"></div>
                    <div class="ellipse-18"></div>
                    <div class="ellipse-19"></div>
                    <div class="ellipse-20"></div>
                    <div class="overlap-4"><div class="text-wrapper">8</div></div>
                    <div class="ellipse-21"></div>
                    <div class="ellipse-22"></div>
                    <div class="ellipse-23"></div>
                    <div class="ellipse-24"></div>
                    <div class="overlap-5"><div class="text-wrapper">6</div></div>
                    <div class="ellipse-25"></div>
                    <div class="ellipse-26"></div>
                    <div class="ellipse-27"></div>
                    <div class="ellipse-28"></div>
                    <div class="overlap-6"><div class="text-wrapper">1</div></div>
                    <div class="ellipse-29"></div>
                    <div class="ellipse-30"></div>
                    <div class="ellipse-31"></div>
                    <div class="ellipse-32"></div>
                    <div class="overlap-7"><div class="text-wrapper">2</div></div>
                    <div class="ellipse-33"></div>
                    <div class="ellipse-34"></div>
                    <div class="ellipse-35"></div>
                    <div class="ellipse-36"></div>
                    <div class="overlap-8"><div class="text-wrapper">3</div></div>
                    <div class="ellipse-37"></div>
                    <div class="ellipse-38"></div>
                    <div class="ellipse-39"></div>
                    <div class="ellipse-40"></div>
                    <div class="overlap-9"><div class="text-wrapper">4</div></div>
                    <div class="ellipse-41"></div>
                    <div class="ellipse-42"></div>
                    <div class="ellipse-43"></div>
                    <div class="ellipse-44"></div>
                    <div class="overlap-10"><div class="text-wrapper">5</div></div>
                    <div class="ellipse-45"></div>
                    <div class="ellipse-46"></div>
                    <div class="ellipse-47"></div>
                    <div class="ellipse-48"></div>
                </div>
                <div class="top-section">
                    <img class="separator" src="img/separator.svg" />
                    <div class="top">
                        <div class="lsft-side">
                            <p class="POS">
                                <span class="span">P</span>
                                <span class="text-wrapper-2">O</span>
                                <span class="text-wrapper-3">S</span>
                            </p>
                        </div>
                        <div class="right-side">
                            <div class="date-top">
                                <img class="vector" src="img/vector.svg" />
                                <div class="text-wrapper-4">October 18th 2002, 10:00AM</div>
                            </div>
                            <div class="button-add-table">
                                <div class="group">
                                    <img class="add" src="img/add.svg" />
                                    <div class="add-table">ADD TABLE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
