<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="/FRONTEND1/assets/css/styleguide_menu_mesas_modal.css" />
        <link rel="stylesheet" href="/FRONTEND1/assets/css/style_menu_mesas_modal.css" />
    </head>
    <body>
        <div class="m">
            <div class="div">
                <div class="overlap-group">
                    <div class="right-side">
                        <div class="group">
                            <div class="product-selected">
                                <div class="total">
                                    <div class="group-2">
                                        <button class="btn-cancel"><div class="text-wrapper">CANCEL</div></button>
                                        <div class="div-wrapper"><div class="text-wrapper">AÑADIR MESA</div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-selected-2">
                                <div class="product-selected-3"><div class="text-wrapper-2">MESA 1</div></div>
                                <div class="frame"><div class="text-wrapper-3">SELECCIONE SU NOMBRE:</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-2"></div>
                    <div class="quantity">
                        <div class="text-wrapper-4">1</div>
                        <div class="text-wrapper-5">+</div>
                        <div class="text-wrapper-6">-</div>
                    </div>
                </div>
                <div class="frame-3"><div class="text-wrapper-7">PERSONAS:</div></div>
                <div class="frame-wrapper">
                    <div class="frame-4">
                        <div class="said-wrapper"><div class="text-wrapper">SAID</div></div>
                        <div class="christian-wrapper"><div class="text-wrapper">CHRISTIAN</div></div>
                        <div class="btn-cancel-2"><div class="text-wrapper">ALDAIR</div></div>
                        <div class="btn-cancel-3"><div class="text-wrapper">DANIELA</div></div>
                        <div class="btn-cancel-4"><div class="text-wrapper">SALVADOR</div></div>
                        <div class="btn-cancel-5"><div class="text-wrapper">NARDA</div></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
