<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="/FRONTEND1/assets/css/style_modal_menu.css"/>
        <link rel="stylesheet" href="/FRONTEND1/assets/css/styleguide_modal_menu.css"/>
    </head>
    <body>
        <div class="m">
            <div class="div">
                <div class="overlap-group">
                    <div class="right-side">
                        <div class="group">
                            <div class="product-selected">
                                <div class="total">
                                    <div class="group-2">
                                        <div class="btn-cancel"><div class="text-wrapper">CANCEL ORDER</div></div>
                                        <div class="add-dish-wrapper"><div class="text-wrapper">ADD&nbsp;&nbsp;DISH</div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-selected-2">
                                <div class="french-fries-wrapper"><div class="french-fries">FRENCH FRIES</div></div>
                                <div class="frame"><div class="description">DESCRIPTION</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-2"></div>
                </div>
                <div class="price-wrapper"><div class="price">PRICE</div></div>
                <div class="frame-3">
                    <input type="text">
                </div>
            </div>
        </div>
    </body>
</html>
